* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #091020;
  font-family: Roboto, Montserrat, Arial, Helvetica, sans-serif;
}
.app {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* THE NAVBAR */
.navbar {
  width: 100%;
  height: 50px;
  background-color: #091020;
  border-bottom: 1px solid #dcd5c2be;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
}

.navbar h4 {
  color: #DCD5C2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 10px;
}

.navbar .refresh-icon {
  font-size: 12px;
  cursor: pointer;
  color: #DCD5C2;
  transition: all ease-in-out 1s;
}
.navbar .refresh-icon:hover {
  color: #DCD5C2;
  animation: spin 0.5s ease-in-out;
}
.navbar .search-box {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 3px 6px;
  caret-color: #DCD5C2;
  transition: all ease-in 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  margin-right: 10px;
}
.navbar .search-box:hover {
  border: 1px solid#DCD5C2;
  color: #DCD5C2;
}
.navbar .search-box .search-icon {
  cursor: e-resize;
  font-size: 12px;
  color: #DCD5C2;
}
.navbar .search-box input {
  background-color: transparent;
  border: none;
  color: #DCD5C2;
  margin-left: 2px;
  font-size: 12px;
}
.navbar .search-box input:focus {
  outline: none;
  border: none;
}


/* CONTAINER FOR ALL THE CRYPTOCURRENCIES */
.coins-container {
  padding: 10px;
  margin: 50px auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(262px, auto));
  gap: 5px;
  color: gray;
}

/* CONTAINER FOR EACH CRYPTOCURRENCY */
.coin-details {
  background-color: #0f1a33;
  text-transform: uppercase;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 0 12px 8px 12px;
  position: relative;
  height: 100px;
  transition: all ease-in 0.5s;
}
.coin-details:hover {
  background-color: #13203d;
}

/*FIRST COLUMN INSIDE THE CONTAINER OF EACH CRYPTOCURRENCY*/
.coin-details .col-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;

}
.col-1 .up, .col-1 .down {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}
.col-1 .up .binance {
  margin-top: -20px;
  display: flex;
  justify-content: flex-start;
}
.col-1 .up .binance p {
  margin-left: 5px;
}
.col-1 .up .binance .logo {
  margin-top: 12px;
  font-size: 11px;
}

/*SECOND COLUMN INSIDE THE CONTAINER OF EACH CRYPTOCURRENCY*/
.coin-details .col-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 50%;
}
.col-2 .up, .col-2 .down {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
}
.col-2 .up .price-change {
  margin-top: -20px;;
  display: flex;
  justify-content: flex-end;
}
.col-2 .up .price-change p:first-child {
  margin-right: 5px;
}

/* WHEN LOADING DATA */
.loading-data {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 28px;
  color: gray;
}
.loading-data .spinner {
  animation: spin 2s linear infinite normal;
}
@keyframes spin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}


/* FOOTER */
.footer {
  display: flex;
  justify-content: center;
  align-items: center ;
  color: #dcd5c2be;
  letter-spacing: 0.2em;
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  background-color:#091020;
  opacity: 0.9;
  padding: 10px 0;
  border-top: 1px solid #dcd5c2be;
  font-size: 14px;
}
.footer p {
  padding: 0 10px;
}

.footer .icon {
  padding: 5px 12px 0;
  border-right: 1px solid grey;
  color: #dcd5c2be;
}
.footer .twitter-icon {
  border-left: 1px solid grey;
}
.footer .twitter-icon:hover {
  color:#00acee;
}
.footer .linkedin-icon:hover {
  color: #0072b1;
}
.footer .github-icon:hover {
  color:white;
}

/* NOT FOUND */
.not-found {
  color: grey;
  display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 100vh;
}
.not-found .spinner {
  animation: spin 2s linear infinite normal;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

 @media (max-width: 480px) { 
  .navbar {
    flex-direction: column;
    height: 11vh;
    position: relative;
  }
  .navbar h4 {
    margin-top: 15px;
  }
  .navbar .refresh-icon {
    position: absolute;
    left: 25%;
    bottom: 13px;
  }
  .navbar .search-box {
    position: absolute;
    right: 15%;
    bottom: 8px;
    padding: 0 0 0 5px;
  }
  .coins-container {
    margin: 0;
  }
  .footer {
    font-size: 13px;
  }
} 


 @media (max-width: 280px) { 
  .navbar {
    flex-direction: column;
    height: 15vh;
    position: relative;
  }
  .navbar .refresh-icon {
    position: absolute;
    left: 20%;
    bottom: 19px;
  }
  .navbar .search-box {
    position: absolute;
    right: 6%;
    bottom: 14px;
  }
  .footer {
    font-size: 12px;
  }
} 